<div class="container-fluid" id="details-container">
    <div class="row my-5" id="cathedral-row">
        <!-- <img class="w-100" [src]="cathedralPath" alt="cathedral" /> -->
        <div class="col-md-12">
            <p>Cathedral text here</p>
        </div>
    </div>

    <div class="row my-5" id="heritage-hall-row">
        <!-- <img class="w-100" [src]="heritageHallPath" alt="heritage-hall" /> -->
        <div class="col-md-12">
            <p>Heritage Hall text here</p>
        </div>
    </div>
</div>